﻿<!DOCTYPE>
<html>
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script> 
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script> 
<head>
<title>@ViewBag.Auction</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="Content/style.css" type="text/css" media="all" />
<script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="Scripts/jquery.jcarousel.pack.js" type="text/javascript"></script>
<script src="Scripts/jquery-func.js" type="text/javascript"></script>
</head>
<body>
<!-- Shell -->
<div class="shell">
  <!--Languages-->
  <div align="right">
      @{
          foreach (var i in EC04_011.Models.SiteLanguages.AvailableLanguages)
          {
              @Html.ActionLink(i.LangFullName, "ChangeLanguage", "Home", new{lang = i.LangCultureName}, null) <text>&nbsp;</text>
          }
       }
  </div>
  <!--End Languages-->
  <!-- Header -->
  <div id="header">
    <h1 id="logo"><a href="#">auction</a></h1>
    <!-- Cart -->
    <div id="cart">@ViewBag.Register | @ViewBag.SignIn</div>
    <!-- End Cart -->
    <!-- Navigation -->
    <div id="navigation">
      <ul>
        <li><a href="#" class="active">@ViewBag.Home</a></li>
        <li><a href="#">@ViewBag.Support</a></li>
        <li><a href="#">@ViewBag.MyAccount</a></li>
        <li><a href="#">@ViewBag.TheStore</a></li>
        <li><a href="#">@ViewBag.Contact</a></li>
      </ul>
    </div>
    <!-- End Navigation -->
  </div>
  <!-- End Header -->
  <!-- Main -->
  <div class="main">
      @RenderBody()
  </div>
  <!-- End Main -->
  <!-- Side Full -->
  <div class="side-full">
    <!-- More Products -->
    <div class="more-products">
      <div class="more-products-holder">
        <ul>
          <li><img src="~/Content/images/small1.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small2.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small3.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small4.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small5.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small6.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small7.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small8.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small9.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small10.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small11.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small12.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small13.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small14.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small15.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small16.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small17.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small18.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small19.jpg" width="94" height="115" alt="" /></li>
          <li><img src="~/Content/images/small20.jpg" width="94" height="115" alt="" /></li>
          <li class="last"><img src="~/Content/images/small21.jpg" width="94" height="115" alt="" /></li>
        </ul>
      </div>
      <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
    </div>
    <!-- End More Products -->
  </div>
  <!-- End Side Full -->
  <!-- Footer -->
  <div id="footer">
      <p align="center">&copy; Design by <a href="http://chocotemplates.com">Chocotemplates.com</p>
  </div>
  <!-- End Footer -->
</div>
<!-- End Shell -->
</html>