﻿@model IEnumerable<EC04_011.Models.Category>
@{
    ViewBag.Auction = EC04_011.Resource.Auction;
    ViewBag.Home = EC04_011.Resource.Home;
    ViewBag.Support = EC04_011.Resource.Support;
    ViewBag.Contact = EC04_011.Resource.Contact;
    ViewBag.MyAccount = EC04_011.Resource.MyAccount;
    ViewBag.TheStore = EC04_011.Resource.TheStore;
    ViewBag.SignIn = EC04_011.Resource.SignIn;
    ViewBag.Register = EC04_011.Resource.Register;
    ViewBag.Logo = EC04_011.Resource.UrlLogo;
}
    <div class="cl">&nbsp;</div>
    <!-- Content -->
    <div id="content">
      <!-- Content Slider -->
      <div id="slider" class="box">
        <div id="slider-holder">
          <ul>
            <li><a href="#"><img src=@Url.Content(EC04_011.Resource.UrlSlide1) alt="" /></a></li>
            <li><a href="#"><img src=@Url.Content(EC04_011.Resource.UrlSlide2) alt="" /></a></li>
            <li><a href="#"><img src=@Url.Content(EC04_011.Resource.UrlSlide3) alt="" /></a></li>
          </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> </div>
      </div>
      <!-- End Content Slider -->
      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <li> <a href="#"><img src="Content/images/big1.jpg" alt="" /></a>
            <div class="product-info">
              <h3>LOREM IPSUM</h3>
              <div class="product-desc">
                <h4>WOMEN’S</h4>
                <p>Lorem ipsum dolor sit<br />
                  amet</p>
                <strong class="price">$58.99</strong> </div>
            </div>
          </li>
          <li> <a href="#"><img src="Content/images/big1.jpg" alt="" /></a>
            <div class="product-info">
              <h3>LOREM IPSUM</h3>
              <div class="product-desc">
                <h4>WOMEN’S</h4>
                <p>Lorem ipsum dolor sit<br />
                  amet</p>
                <strong class="price">$58.99</strong> </div>
            </div>
          </li>
          <li class="last"> <a href="#"><img src="Content/images/big1.jpg" alt="" /></a>
            <div class="product-info">
              <h3>LOREM IPSUM</h3>
              <div class="product-desc">
                <h4>WOMEN’S</h4>
                <p>Lorem ipsum dolor sit<br />
                  amet</p>
                <strong class="price">$58.99</strong> </div>
            </div>
          </li>
        </ul>
        <div class="cl">&nbsp;</div>
      </div>
      <!-- End Products -->
    </div>
    <!-- End Content -->
    <!-- Sidebar -->
    <div id="sidebar">
      <!-- Search -->
      <div class="box search">
        <h2>@EC04_011.Resource.SearchBy<span></span></h2>
        <div class="box-content">
        @using (Ajax.BeginForm("Search", "Home",
                    new AjaxOptions {
                    InsertionMode=InsertionMode.Replace,
                    HttpMethod="GET",
                    OnFailure="searchFailed",
                    LoadingElementId="ajax-loader",
                    UpdateTargetId="kqtimkiemsach", 
                    })){
            <label>@EC04_011.Resource.Keyword</label>
            <input type="text" class="field" />
            <label>@EC04_011.Resource.Category</label>
            <select class="field">
                <option value="0">@EC04_011.Resource.AllProduct</option>
            @foreach(var item in Model){
                <option value="@item.CategoryId">@item.CategoryName</option>
            }
            </select>
            <input type="submit" class="search-submit" value="@EC04_011.Resource.Search" />
            }
        </div>
      </div>
      <!-- End Search -->
      <!-- Categories -->
      <div class="box categories">
        <h2>@EC04_011.Resource.Category<span></span></h2>
        <div class="box-content">
          <ul>
            @foreach (var item in Model)
            {
                <li>@Ajax.ActionLink(@item.CategoryName, 
                                    "Search", "Home", 
                                    new { CategoryId = @item.CategoryId, language = @item.LanguageCode },
                                    new AjaxOptions{
                                    UpdateTargetId="content",
                                    InsertionMode=InsertionMode.Replace,
                                    HttpMethod="GET"
                                })</li>
            }
          </ul>
        </div>
      </div>
      <!-- End Categories -->
    </div>
    <!-- End Sidebar -->
    <div class="cl">&nbsp;</div>