﻿@*
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EC04_011.Models.ProductDetail>
*@

@model IEnumerable<EC04_011.Models.ProductDetail>

@*
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductInfor)
        </th>
        <th>@ViewBag.language | @ViewBag.CategoryId</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductInfor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
    
</table>
*@
      <div class="products">    
        <div class="cl">&nbsp;</div>
        <ul>
        @foreach (var item in Model)
        {
          <li> <a href="#"><img src=@Url.Content(@item.ProductAuction.ImgPath) alt="" width="228" height="383" /></a>
            <div class="product-info">
              <h3>@item.ProductName</h3>
              <div class="product-desc">
                <h5>@EC04_011.Resource.Seller: @item.ProductAuction.UserAccount.UserName</h5>
                <p>@EC04_011.Resource.EndTime: @item.ProductAuction.EndTime</p>
                <strong class="price">$@item.ProductAuction.StartPrice</strong> </div>
            </div>
          </li>   
        }
        </ul>
        <div class="cl">&nbsp;</div>
      </div>

<div>
    <h1>@Html.ActionLink(@EC04_011.Resource.GoBack, "Index", new { lang = ViewBag.language})</h1>
</div>

@*
@Html.PagedListPager(Model, page => Url.Action("Search", new { page, CategoryId = ViewBag.CategoryId, language = ViewBag.language}), 
                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing( new AjaxOptions(){  HttpMethod = "GET", UpdateTargetId="content"}))
*@